body {
/* font-family: sans-serif; */
font-size: 14px;
/* font-size: 1.1rem; */
font-family: monospace;
color: #444;
background-color: #fff;
}

.full-width {
width: 100%;
}

.text-left {
text-align: left;
}

.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.inline {
display: inline;
}

.bigcontainer {
width: 600px;
margin: 0 auto;
padding: 0;
/* border: 1px solid #dddddd; */
}

/* standard styles */
.bigcontainer hr {
height: 0;
margin: 0;
border: 0;
border-bottom: 1px solid #dddddd;
font-size: 0;
clear: both;
}

header .title {
display: none;
}

div.article-date {
width: 100%;
text-align: right;
}

/* content format is same on all devices */
article.content {
text-align: justify;
padding: 0;
min-height: 400px;
line-height: 1.4rem;
-moz-hyphens: auto;
-o-hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
hyphens: auto;
}

article.content p {
margin: 1rem 0;
}

article.content :target {
background-color: #eeeeee;
}

article.content a:link, 
article.content a:visited {
color: #222222;
text-decoration: underline;
}

article.content a:hover {
color: #666666;
text-decoration: none;
}

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5,
article.content h6 {
font-family: monospace;
line-height: 120%;
margin: 1.2em 0.3em;
}

article.content h1 { 
text-align: center;
font-size: 1.5em; 
}
article.content h2 { font-size: 1.4em; }
article.content h3 { font-size: 1.3em; }
article.content h4 { font-size: 1.2em; }
article.content h5 { font-size: 1.1em; }
article.content h6 { font-size: 1.0em; }

/* sourceCode and pre should be source code... */
/* and source code has the same background */
article.content .sourceCode, 
article.content pre, 
article.content code 
{
background-color: #f0f0f0;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

article.content pre {
overflow-x: auto;
margin: 0rem 0;
padding: 0.3rem;
line-height: 1rem;
font-size: 0.8rem;
border: 1px solid #888888;
}

article.content blockquote {
margin: 0.5rem 2rem;
padding: 0.5rem;
background-color: #eeeeee;
font-style: italic;
text-align: left;
line-height: 1.2rem;
font-size: 90%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}

article.content blockquote p {
margin: 0;
}

article.content blockquote h1,
article.content blockquote h2,
article.content blockquote h3,
article.content blockquote h4,
article.content blockquote h5,
article.content blockquote h6
{
margin: 0.5em 0.1em;
}

article.content table {
margin-left: auto;
margin-right: auto;
}

article.content table thead {
background-color: #efefef;
}

article.content th {
font-weight: bold;
text-align: -internal-center;
background-color: #dddddd;
}

/* let table have round corners */
article.content th:first-child { border-radius: 5px 0 0 0; }
article.content th:last-child { border-radius: 0 5px 0 0; }
article.content th:only-child { border-radius: 5px 5px 0 0; }

article.content td, article.content th {
display: table-cell;
vertical-align: inherit;
padding: 0.5rem;
}

article.content tr.even {
background-color: #efefef;
}

article.content tr.odd {
background-color: #fff;
}

article.content figure {
width: 90%;
background-color: #eeeeee;
display: block;
margin: 0 auto;
padding: 10px;
border: 1px solid black;
border-radius: 10px;
}

article.content figure img {
width: 100%;
display: block;
margin: 0 auto;
}

article.content figcaption {
display: block;
width: 100%;
margin: 0.5em auto;
text-align: center;
font-style: italic;
font-size: 0.9em;
}

header.pageheader img {
width: 60px;
height: 60px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
margin: 5px;
border: 1px solid #ffffff;
}

header.pageheader img:hover {
border: 1px solid #cccccc;
}

/* menus format */
ul.menu {
font-family: monospace;
list-style-type: none;
margin: 0px;
padding: 0.5rem;
line-height: 1.5rem;
}

ul.menu li {
display: inline;
}

ul.menu a:link,
ul.menu a:visited {
color: #666666;
text-decoration: none;
}

ul.menu a:hover {
/* background-color: #cccccc; */
text-decoration: none;
color: #222222;
}

footer {
padding: 0.5rem 0;
}

footer h3 {
margin: 0.5rem;
}

ul.postlist {
list-style-type: none;
margin: 0.5rem 0;
padding: 0;
}

ul.postlist li {
margin: 0;
padding: 0.2rem;
white-space: nowrap;
}

ul.postlist a:link,
ul.postlist a:visited {
color: #666666;
text-decoration: none;
}

ul.postlist a:hover {
text-decoration: none;
color: #222222;
}

ul.taglist {
list-style-type: none;
margin: 0.5rem 0;
padding: 0;
line-height: 150%;
}

ul.taglist li {
margin: 0;
padding: 0.5rem;
white-space: nowrap;
display: inline;
}

ul.taglist a:link,
ul.taglist a:visited {
color: #666666;
text-decoration: none;
}

ul.taglist a:hover {
text-decoration: none;
color: #222222;
}

table.article-meta {
width: 100%;
margin: 1em 0;
}

.article-meta {
color: #aaa;
}

/* mobile style */
@media all and (max-width:650px) {

.hidden-mobile {
display: none;
}

.mobile-center {
text-align: center;
}

.bigcontainer {
width: 95%;
}

header.pageheader {
text-align: center;
}

nav.pagenavigation {
text-align: center; 
}

article.content {
line-height: 1.2rem;
}

article.content h1,
article.content h2,
article.content h3,
article.content h4,
article.content h5,
article.content h5
{
text-align: center;
}

article.content ul {
padding-left: 1em;
text-align: left;
}

article.content blockquote {
margin: 0.5rem 0.5rem;
padding: 0.5rem;
line-height: 1rem;
font-size: 90%;
}

article.content table {
font-size: 90%;
}

article.content tr, 
article.content td {
display: block;
}

article.content thead,th {
display: none;
}


footer h3 {
text-align: center;
}

article.content ul.postlist, ul.postlist {
margin: 0;
text-align: center;
}

ul.postlist li {
display: block;
padding: 0.3rem;
}

}

/* desktop style */
@media all and (min-width:651px) {

.bigcontainer {
width: 600px;
}

/* header format */ 
header .title {
font-family: monospace;
display: inline;
text-align: left;
float: left;
padding: 25px 0px;
font-size: 12pt;
}

header .title a:link,
header .title a:visited {
color: #222222;
text-decoration: none;
}

header .title a:hover {
color: #666666;
/* background-color: #cccccc; */
/* text-decoration: underline; */
}

nav.pagenavigation {
text-align: right; 
}

header.pageheader {
text-align: right;
}

footer ul.postlist {
text-align: center;
}

footer ul.postlist li {
display: block;
padding: 0.3rem;
}

}

